<a href="https://colab.research.google.com/github/Elvo001/Iris-Dataset-Code/blob/main/Data_Science_Languages_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
iris = pd.read_csv("iris.txt", sep=",")

In [ ]:
iris.sort_values("Sepal.Length")

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

Sorts the flowers in the form of sepal length

In [ ]:
iris_sorted = iris.sort_values("Sepal.Length")

Sorts the dataset with Sepal Length as the variable.

In [ ]:
iris.sort_values("Sepal.Length", inplace = True)

Assigns the condtions to a string(iris_sorted)

In [ ]:
iris_sorted

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]

In [ ]:
target = "Species"

predictors = ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']

In [ ]:
iris[iris["Sepal.Length"]>7 ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
102           7.1          3.0           5.9          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
125           7.2          3.2           6.0          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
107           7.3          2.9           6.3          1.8  virginica
130           7.4          2.8           6.1          1.9  virginica
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

Brings forth a result of the flowers which possess a sepal length greater than 7

In [ ]:
iris["Species"]

13        setosa
42        setosa
38        setosa
8         setosa
41        setosa
         ...
122    virginica
118    virginica
117    virginica
135    virginica
131    virginica
Name: Species, Length: 150, dtype: object

In [ ]:
iris[ ["Species","Sepal.Length"] ]

       Species  Sepal.Length
13      setosa           4.3
42      setosa           4.4
38      setosa           4.4
8       setosa           4.4
41      setosa           4.5
..         ...           ...
122  virginica           7.7
118  virginica           7.7
117  virginica           7.7
135  virginica           7.7
131  virginica           7.9

[150 rows x 2 columns]

Extract the species and the Sepal Length from the dataset.

Extracts a dataframe from "Species" and "Sepal.Length" variables.

In [ ]:
target = "Species"

predictors = ['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']

In [ ]:
iris[ iris["Species"] == "virginica"  ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
106           4.9          2.5           4.5          1.7  virginica
121           5.6          2.8           4.9          2.0  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
142           5.8          2.7           5.1          1.9  virginica
101           5.8          2.7           5.1          1.9  virginica
149           5.9          3.0           5.1          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
119           6.0          2.2           5.0          1.5  virginica
127           6.1          3.0           4.9          1.8  virginica
134           6.1          2.6           5.6          1.4  virginica
148           6.2          3.4           5.4          2.3  virginica
126           6.2          2.8           4.8          1.8  virginica
123           6.3          2.7           4.9          1.8  virginica
146           6.3          2.5           5.0          1.9  virginica
133           6.3          2.8           5.1          1.5  virginica
100           6.3          3.3           6.0          2.5  virginica
136           6.3          3.4           5.6          2.4  virginica
103           6.3          2.9           5.6          1.8  virginica
132           6.4          2.8           5.6          2.2  virginica
128           6.4          2.8           5.6          2.1  virginica
137           6.4          3.1           5.5          1.8  virginica
115           6.4          3.2           5.3          2.3  virginica
111           6.4          2.7           5.3          1.9  virginica
104           6.5          3.0           5.8          2.2  virginica
116           6.5          3.0           5.5          1.8  virginica
147           6.5          3.0           5.2          2.0  virginica
110           6.5          3.2           5.1          2.0  virginica
140           6.7          3.1           5.6          2.4  virginica
108           6.7          2.5           5.8          1.8  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
124           6.7          3.3           5.7          2.1  virginica
143           6.8          3.2           5.9          2.3  virginica
112           6.8          3.0           5.5          2.1  virginica
139           6.9          3.1           5.4          2.1  virginica
141           6.9          3.1           5.1          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
102           7.1          3.0           5.9          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
125           7.2          3.2           6.0          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
107           7.3          2.9           6.3          1.8  virginica
130           7.4          2.8           6.1          1.9  virginica
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

Returns all the Virginica species

In [ ]:
iris[ (iris["Species"] == "setosa") | (iris["Species"] == "virginica" ) ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[100 rows x 5 columns]

Returns multiple conditions.Returns data from Species "Setosa" and "Virginica"

In [ ]:
iris[ (iris["Species"] == "virginica") & (iris["Sepal.Length"] > 2 ) ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
106           4.9          2.5           4.5          1.7  virginica
121           5.6          2.8           4.9          2.0  virginica
113           5.7          2.5           5.0          2.0  virginica
114           5.8          2.8           5.1          2.4  virginica
142           5.8          2.7           5.1          1.9  virginica
101           5.8          2.7           5.1          1.9  virginica
149           5.9          3.0           5.1          1.8  virginica
138           6.0          3.0           4.8          1.8  virginica
119           6.0          2.2           5.0          1.5  virginica
127           6.1          3.0           4.9          1.8  virginica
134           6.1          2.6           5.6          1.4  virginica
148           6.2          3.4           5.4          2.3  virginica
126           6.2          2.8           4.8          1.8  virginica
123           6.3          2.7           4.9          1.8  virginica
146           6.3          2.5           5.0          1.9  virginica
133           6.3          2.8           5.1          1.5  virginica
100           6.3          3.3           6.0          2.5  virginica
136           6.3          3.4           5.6          2.4  virginica
103           6.3          2.9           5.6          1.8  virginica
132           6.4          2.8           5.6          2.2  virginica
128           6.4          2.8           5.6          2.1  virginica
137           6.4          3.1           5.5          1.8  virginica
115           6.4          3.2           5.3          2.3  virginica
111           6.4          2.7           5.3          1.9  virginica
104           6.5          3.0           5.8          2.2  virginica
116           6.5          3.0           5.5          1.8  virginica
147           6.5          3.0           5.2          2.0  virginica
110           6.5          3.2           5.1          2.0  virginica
140           6.7          3.1           5.6          2.4  virginica
108           6.7          2.5           5.8          1.8  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
124           6.7          3.3           5.7          2.1  virginica
143           6.8          3.2           5.9          2.3  virginica
112           6.8          3.0           5.5          2.1  virginica
139           6.9          3.1           5.4          2.1  virginica
141           6.9          3.1           5.1          2.3  virginica
120           6.9          3.2           5.7          2.3  virginica
102           7.1          3.0           5.9          2.1  virginica
129           7.2          3.0           5.8          1.6  virginica
125           7.2          3.2           6.0          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
107           7.3          2.9           6.3          1.8  virginica
130           7.4          2.8           6.1          1.9  virginica
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

Returns instances of species 'virginica' with a sepal length > 2

In [ ]:
import numpy as np

import numpy  a library for the Python programming language adding support for large multi-dimensional arrays and matrices along with a high level of mathematical functions to operate on these arrays.

In [ ]:
np.log(iris["Sepal.Length"])

13     1.458615
42     1.481605
38     1.481605
8      1.481605
41     1.504077
         ...
122    2.041220
118    2.041220
117    2.041220
135    2.041220
131    2.066863
Name: Sepal.Length, Length: 150, dtype: float64

Returns the natural logarithm for each variable of the sepal length.

In [ ]:
np.log(iris["Sepal.Width"])

13     1.098612
42     1.163151
38     1.098612
8      1.064711
41     0.832909
         ...
122    1.029619
118    0.955511
117    1.335001
135    1.098612
131    1.335001
Name: Sepal.Width, Length: 150, dtype: float64


Returns the natural logarithm for each variable of the sepal width

In [ ]:
np.log(iris["Petal.Length"])

13     0.095310
42     0.262364
38     0.262364
8      0.336472
41     0.262364
         ...
122    1.902108
118    1.931521
117    1.902108
135    1.808289
131    1.856298
Name: Petal.Length, Length: 150, dtype: float64

Returns the natural logarithm for each variable of the petal length

In [ ]:
np.log(iris["Petal.Width"])

13    -2.302585
42    -1.609438
38    -1.609438
8     -1.609438
41    -1.203973
         ...
122    0.693147
118    0.832909
117    0.788457
135    0.832909
131    0.693147
Name: Petal.Width, Length: 150, dtype: float64

Returns the natural logarithm for each variable of the petal width

In [ ]:
iris["Sepal.Length"].mean()

5.843333333333334

Access the mean method that can be executed over the dataframe.Asking for just one variable of the dtafarame.

In [ ]:
iris["Sepal.Width"].mean()

3.0573333333333337

In [ ]:
iris["Petal.Length"].mean()

3.7579999999999996

In [ ]:
iris["Petal.Width"].mean()

1.1993333333333334

With regards to the Iris flower the Sepal appears to be longer and wider than the Petal as can be seen from the means of the series

In [ ]:
iris["Sepal.Length"].median()

5.8

In [ ]:
iris["Sepal.Width"].median()

3.0

In [ ]:
iris["Petal.Length"].median()

4.35

In [ ]:
iris["Petal.Width"].median()

1.3

Similar to the mean of the variables,the Sepal exhibits greater width and length as compared to the petal.The median() fucntion returns the result of the middle function in the series.

In [ ]:
iris["Sepal.Length"].min()

4.3

In [ ]:
iris["Sepal.Width"].min()

2.0

In [ ]:
iris["Petal.Length"].min()

1.0

In [ ]:
iris["Petal.Width"].min()

0.1

The Sepals in the dataset also exhibit higher minimum numerical values as compared to the Petals

In [ ]:
iris["Sepal.Length"].quantile(0.1)

4.8

In [ ]:
iris["Sepal.Width"].quantile(0.1)

2.5

In [ ]:
iris["Petal.Length"].quantile(0.1)

1.4

In [ ]:
iris["Petal.Width"].quantile(0.1)

0.2

As per the 0.1 quantile the sepal is larger than the petal

In [ ]:
iris["Species"].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [ ]:
iris["Species"].value_counts(normalize=True)

setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: Species, dtype: float64

In [ ]:
iris.groupby("Species")["Sepal.Length"].mean()

# same as

# select species, avg(Sepal.Length)

# from iris

# group by Species

Species
setosa        5.006
versicolor    5.936
virginica     6.588
Name: Sepal.Length, dtype: float64

Virginica species exhibits the highest average sepal length whereas Setosa exhibits the lowest average Sepal Length

In [ ]:
iris.groupby("Species")["Sepal.Width"].mean()

Species
setosa        3.428
versicolor    2.770
virginica     2.974
Name: Sepal.Width, dtype: float64

Setosa exhibits the highest average Sepal width whereas Versicolor species exhibits the lowest average Sepal width

In [ ]:
iris.groupby("Species")["Petal.Length"].mean()

Species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: Petal.Length, dtype: float64

Virginica species exhibits the highest average Petal Length whereas Setosa species exhibits the lowest average Petal Length

In [ ]:
iris.groupby("Species")["Petal.Width"].mean()

Species
setosa        0.246
versicolor    1.326
virginica     2.026
Name: Petal.Width, dtype: float64

The species Virginica exhibits the highest average Petal Width whereas Setosa species exhibits the lowest average petal width

In [ ]:
iris.groupby("Species")["Sepal.Length"].median()

Species
setosa        5.0
versicolor    5.9
virginica     6.5
Name: Sepal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Sepal.Width"].median()

Species
setosa        3.4
versicolor    2.8
virginica     3.0
Name: Sepal.Width, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Length"].median()

Species
setosa        1.50
versicolor    4.35
virginica     5.55
Name: Petal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Width"].median()

Species
setosa        0.2
versicolor    1.3
virginica     2.0
Name: Petal.Width, dtype: float64

The medians of the 4 numerical variables as defined by the modalities of the 5th variable species follow a similar trend and pattern to the mean values of the species.The values only generally differ by a few percentage points.

In [ ]:
iris.groupby("Species")["Sepal.Length"].min()

Species
setosa        4.3
versicolor    4.9
virginica     4.9
Name: Sepal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Sepal.Width"].min()

Species
setosa        2.3
versicolor    2.0
virginica     2.2
Name: Sepal.Width, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Length"].min()

Species
setosa        1.0
versicolor    3.0
virginica     4.5
Name: Petal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Width"].min()

Species
setosa        0.1
versicolor    1.0
virginica     1.4
Name: Petal.Width, dtype: float64

In [ ]:
iris.groupby("Species")["Sepal.Length"].quantile(0.1)

Species
setosa        4.59
versicolor    5.38
virginica     5.80
Name: Sepal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Sepal.Width"].quantile(0.1)

Species
setosa        3.00
versicolor    2.30
virginica     2.59
Name: Sepal.Width, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Length"].quantile(0.1)

Species
setosa        1.30
versicolor    3.59
virginica     4.90
Name: Petal.Length, dtype: float64

In [ ]:
iris.groupby("Species")["Petal.Width"].quantile(0.1)

Species
setosa        0.19
versicolor    1.00
virginica     1.79
Name: Petal.Width, dtype: float64

In [ ]:
iris[iris["Petal.Length"]>=2.5 ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
57            4.9          2.4           3.3          1.0  versicolor
106           4.9          2.5           4.5          1.7   virginica
60            5.0          2.0           3.5          1.0  versicolor
93            5.0          2.3           3.3          1.0  versicolor
98            5.1          2.5           3.0          1.1  versicolor
..            ...          ...           ...          ...         ...
122           7.7          2.8           6.7          2.0   virginica
118           7.7          2.6           6.9          2.3   virginica
117           7.7          3.8           6.7          2.2   virginica
135           7.7          3.0           6.1          2.3   virginica
131           7.9          3.8           6.4          2.0   virginica

[100 rows x 5 columns]

In [ ]:
iris[iris["Petal.Width"]<1.8 ]

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
13            4.3          3.0           1.1          0.1      setosa
42            4.4          3.2           1.3          0.2      setosa
38            4.4          3.0           1.3          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
..            ...          ...           ...          ...         ...
65            6.7          3.1           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
52            6.9          3.1           4.9          1.5  versicolor
50            7.0          3.2           4.7          1.4  versicolor
129           7.2          3.0           5.8          1.6   virginica

[104 rows x 5 columns]

In [ ]:
iris[iris["Petal.Length"]>=2.5 ].value_counts()

Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
5.8           2.7          5.1           1.9          virginica     2
4.9           2.4          3.3           1.0          versicolor    1
6.4           3.2          5.3           2.3          virginica     1
6.7           3.0          5.0           1.7          versicolor    1
              2.5          5.8           1.8          virginica     1
                                                                   ..
5.9           3.2          4.8           1.8          versicolor    1
              3.0          5.1           1.8          virginica     1
                           4.2           1.5          versicolor    1
5.8           2.8          5.1           2.4          virginica     1
7.9           3.8          6.4           2.0          virginica     1
Length: 99, dtype: int64

For Petal Length greater than or equal to 2.5 Virginica species is the most frequent species

In [ ]:
iris[iris["Petal.Width"]<1.8 ].value_counts()

Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
4.3           3.0          1.1           0.1          setosa        1
4.4           2.9          1.4           0.2          setosa        1
6.0           2.2          4.0           1.0          versicolor    1
5.9           3.0          4.2           1.5          versicolor    1
5.8           4.0          1.2           0.2          setosa        1
                                                                   ..
5.0           3.6          1.4           0.2          setosa        1
              3.5          1.6           0.6          setosa        1
                           1.3           0.3          setosa        1
              3.4          1.6           0.4          setosa        1
7.2           3.0          5.8           1.6          virginica     1
Length: 104, dtype: int64

For Petal Width that is less than 1.8 the species Setosa is the most frequent

In [ ]:
list(iris.groupby("Species"))

[('setosa',     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
  13           4.3          3.0           1.1          0.1  setosa
  42           4.4          3.2           1.3          0.2  setosa
  38           4.4          3.0           1.3          0.2  setosa
  8            4.4          2.9           1.4          0.2  setosa
  41           4.5          2.3           1.3          0.3  setosa
  22           4.6          3.6           1.0          0.2  setosa
  3            4.6          3.1           1.5          0.2  setosa
  6            4.6          3.4           1.4          0.3  setosa
  47           4.6          3.2           1.4          0.2  setosa
  2            4.7          3.2           1.3          0.2  setosa
  29           4.7          3.2           1.6          0.2  setosa
  12           4.8          3.0           1.4          0.1  setosa
  45           4.8          3.0           1.4          0.3  setosa
  24           4.8          3.4           1.9          0.2  setosa
  11           4.8          3.4           1.6          0.2  setosa
  30           4.8          3.1           1.6          0.2  setosa
  34           4.9          3.1           1.5          0.2  setosa
  9            4.9          3.1           1.5          0.1  setosa
  37           4.9          3.6           1.4          0.1  setosa
  1            4.9          3.0           1.4          0.2  setosa
  40           5.0          3.5           1.3          0.3  setosa
  26           5.0          3.4           1.6          0.4  setosa
  49           5.0          3.3           1.4          0.2  setosa
  35           5.0          3.2           1.2          0.2  setosa
  43           5.0          3.5           1.6          0.6  setosa
  7            5.0          3.4           1.5          0.2  setosa
  4            5.0          3.6           1.4          0.2  setosa
  25           5.0          3.0           1.6          0.2  setosa
  44           5.1          3.8           1.9          0.4  setosa
  46           5.1          3.8           1.6          0.2  setosa
  0            5.1          3.5           1.4          0.2  setosa
  39           5.1          3.4           1.5          0.2  setosa
  17           5.1          3.5           1.4          0.3  setosa
  23           5.1          3.3           1.7          0.5  setosa
  21           5.1          3.7           1.5          0.4  setosa
  19           5.1          3.8           1.5          0.3  setosa
  32           5.2          4.1           1.5          0.1  setosa
  28           5.2          3.4           1.4          0.2  setosa
  27           5.2          3.5           1.5          0.2  setosa
  48           5.3          3.7           1.5          0.2  setosa
  5            5.4          3.9           1.7          0.4  setosa
  20           5.4          3.4           1.7          0.2  setosa
  31           5.4          3.4           1.5          0.4  setosa
  10           5.4          3.7           1.5          0.2  setosa
  16           5.4          3.9           1.3          0.4  setosa
  36           5.5          3.5           1.3          0.2  setosa
  33           5.5          4.2           1.4          0.2  setosa
  15           5.7          4.4           1.5          0.4  setosa
  18           5.7          3.8           1.7          0.3  setosa
  14           5.8          4.0           1.2          0.2  setosa),
 ('versicolor',
      Sepal.Length  Sepal.Width  Petal.Length  Petal.Width     Species
  57           4.9          2.4           3.3          1.0  versicolor
  60           5.0          2.0           3.5          1.0  versicolor
  93           5.0          2.3           3.3          1.0  versicolor
  98           5.1          2.5           3.0          1.1  versicolor
  59           5.2          2.7           3.9          1.4  versicolor
  84           5.4          3.0           4.5          1.5  versicolor
  90           5.5          2.6           4.4          1.2  versicolor
  53           5.5          2.3           4.0          1.3  versicolor
  81           5.5          2.4           3.7          1.0  versicolor
  80           5.5          2.4           3.8          1.1  versicolor
  89           5.5          2.5           4.0          1.3  versicolor
  88           5.6          3.0           4.1          1.3  versicolor
  66           5.6          3.0           4.5          1.5  versicolor
  69           5.6          2.5           3.9          1.1  versicolor
  94           5.6          2.7           4.2          1.3  versicolor
  64           5.6          2.9           3.6          1.3  versicolor
  79           5.7          2.6           3.5          1.0  versicolor
  96           5.7          2.9           4.2          1.3  versicolor
  99           5.7          2.8           4.1          1.3  versicolor
  55           5.7          2.8           4.5          1.3  versicolor
  95           5.7          3.0           4.2          1.2  versicolor
  67           5.8          2.7           4.1          1.0  versicolor
  92           5.8          2.6           4.0          1.2  versicolor
  82           5.8          2.7           3.9          1.2  versicolor
  61           5.9          3.0           4.2          1.5  versicolor
  70           5.9          3.2           4.8          1.8  versicolor
  78           6.0          2.9           4.5          1.5  versicolor
  83           6.0          2.7           5.1          1.6  versicolor
  85           6.0          3.4           4.5          1.6  versicolor
  62           6.0          2.2           4.0          1.0  versicolor
  71           6.1          2.8           4.0          1.3  versicolor
  63           6.1          2.9           4.7          1.4  versicolor
  73           6.1          2.8           4.7          1.2  versicolor
  91           6.1          3.0           4.6          1.4  versicolor
  68           6.2          2.2           4.5          1.5  versicolor
  97           6.2          2.9           4.3          1.3  versicolor
  72           6.3          2.5           4.9          1.5  versicolor
  56           6.3          3.3           4.7          1.6  versicolor
  87           6.3          2.3           4.4          1.3  versicolor
  51           6.4          3.2           4.5          1.5  versicolor
  74           6.4          2.9           4.3          1.3  versicolor
  54           6.5          2.8           4.6          1.5  versicolor
  58           6.6          2.9           4.6          1.3  versicolor
  75           6.6          3.0           4.4          1.4  versicolor
  86           6.7          3.1           4.7          1.5  versicolor
  77           6.7          3.0           5.0          1.7  versicolor
  65           6.7          3.1           4.4          1.4  versicolor
  76           6.8          2.8           4.8          1.4  versicolor
  52           6.9          3.1           4.9          1.5  versicolor
  50           7.0          3.2           4.7          1.4  versicolor),
 ('virginica',
       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
  106           4.9          2.5           4.5          1.7  virginica
  121           5.6          2.8           4.9          2.0  virginica
  113           5.7          2.5           5.0          2.0  virginica
  114           5.8          2.8           5.1          2.4  virginica
  142           5.8          2.7           5.1          1.9  virginica
  101           5.8          2.7           5.1          1.9  virginica
  149           5.9          3.0           5.1          1.8  virginica
  138           6.0          3.0           4.8          1.8  virginica
  119           6.0          2.2           5.0          1.5  virginica
  127           6.1          3.0           4.9          1.8  virginica
  134           6.1          2.6           5.6          1.4  virginica
  148           6.2          3.4           5.4          2.3  virginica
  126           6.2          2.8           4.8          1.8  virginica
  123           6.3          2.7           4.9          1.8  virginica
  146           6.3          2.5           5.0          1.9  virginica
  133           6.3          2.8           5.1          1.5  virginica
  100           6.3          3.3           6.0          2.5  virginica
  136           6.3          3.4           5.6          2.4  virginica
  103           6.3          2.9           5.6          1.8  virginica
  132           6.4          2.8           5.6          2.2  virginica
  128           6.4          2.8           5.6          2.1  virginica
  137           6.4          3.1           5.5          1.8  virginica
  115           6.4          3.2           5.3          2.3  virginica
  111           6.4          2.7           5.3          1.9  virginica
  104           6.5          3.0           5.8          2.2  virginica
  116           6.5          3.0           5.5          1.8  virginica
  147           6.5          3.0           5.2          2.0  virginica
  110           6.5          3.2           5.1          2.0  virginica
  140           6.7          3.1           5.6          2.4  virginica
  108           6.7          2.5           5.8          1.8  virginica
  144           6.7          3.3           5.7          2.5  virginica
  145           6.7          3.0           5.2          2.3  virginica
  124           6.7          3.3           5.7          2.1  virginica
  143           6.8          3.2           5.9          2.3  virginica
  112           6.8          3.0           5.5          2.1  virginica
  139           6.9          3.1           5.4          2.1  virginica
  141           6.9          3.1           5.1          2.3  virginica
  120           6.9          3.2           5.7          2.3  virginica
  102           7.1          3.0           5.9          2.1  virginica
  129           7.2          3.0           5.8          1.6  virginica
  125           7.2          3.2           6.0          1.8  virginica
  109           7.2          3.6           6.1          2.5  virginica
  107           7.3          2.9           6.3          1.8  virginica
  130           7.4          2.8           6.1          1.9  virginica
  105           7.6          3.0           6.6          2.1  virginica
  122           7.7          2.8           6.7          2.0  virginica
  118           7.7          2.6           6.9          2.3  virginica
  117           7.7          3.8           6.7          2.2  virginica
  135           7.7          3.0           6.1          2.3  virginica
  131           7.9          3.8           6.4          2.0  virginica)]

In [ ]:
iris.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64